{
  "extends": "@injectivelabs/eslint-config",
  "rules": {
    "vue/singleline-html-element-content-newline": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "ignorePatterns": [
    "coverage/**",
    "node_modules/*.js"
  ],
  "overrides": [
    {
      "files": [
        "*.html"
      ],
      "rules": {
        "vue/comment-directive": "off"
      }
    }
  ]
}
