.fade-down-enter-active,
.fade-down-leave-active,
.fade-up-enter-active,
.fade-up-leave-active,
.fade-left-enter-active,
.fade-left-leave-active,
.fade-right-enter-active,
.fade-right-leave-active {
  transition: 200ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.fade-right-left-enter-active,
.fade-right-left-leave-active {
  transition: 400ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.fade-down-enter-to,
.fade-up-enter-to,
.fade-left-enter-to,
.fade-right-enter-to,
.fade-right-left {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.fade-down-leave-active,
.fade-up-leave-active,
.fade-right-left-leave-active,
.fade-left-enter-to,
.fade-right-enter-to,
.fade-right-left-enter-to {
  opacity: 1;
}

.fade-down-enter {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

.fade-down-leave-to {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

// fade up!
.fade-up-enter {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.fade-up-leave-to {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.fade-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.fade-left-leave-to {
  opacity: 0;
  transform: translate3d(-30%, 0, 0);
}

.fade-right-enter,
.fade-right-left-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.fade-right-leave-to {
  opacity: 0;
  transform: translate3d(30%, 0, 0);
}

.fade-right-left-leave-to {
  opacity: 20;
  transform: translate3d(-100%, 0, 0);
}
