.overflow-fix {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

.table-orders {
  @apply h-full min-h-orders max-h-2xs;

  @screen lg {
    @apply max-h-xs;
  }

  @screen 4xl {
    @apply max-h-lg;
  }
}

.orderbook-h {
  @apply h-md;

  @screen lg {
    @apply h-xl;
  }

  @screen 4xl {
    @apply h-3xl;
  }
}

.orderbook-half-h {
  @apply h-48;

  @screen lg {
    @apply h-2xs;
  }

  @screen 4xl {
    height: 21rem;
  }
}

.orderbook-middle-h {
  @apply h-8;

  @screen lg {
    @apply h-8;
  }

  @screen 4xl {
    @apply h-16;
  }
}

.card-table-wrap-content {
  @apply bg-gray-900 px-4 py-2 rounded-lg mt-2 flex-1 w-full;
}

.toasted.bubble {
  @apply shadow-md border;
}

.toasted.bubble.error {
  @apply text-gray-800 font-bold;
  background: theme('colors.red.500') !important;
}

.toasted.bubble.info {
  @apply text-gray-500 shadow-md;
  background: theme('colors.gray.700') !important;

  .action {
    @apply font-bold;
  }

  .text-primary-500 {
    color: theme('colors.primary.500') !important;
  }
}

.toasted.bubble.success {
  @apply text-gray-800 font-bold;
  background: theme('colors.primary.500') !important;
}

.toasted.bubble.default {
  @apply text-gray-200 shadow-sm;
  background: theme('colors.gray.600') !important;
}

.toasted-container .toasted.default .action.text-primary-500 {
  @apply text-primary-500 font-bold;
}

.toasted-container .toasted.default .action.text-red-500 {
  @apply text-red-500 font-bold;
}

.toasted-container .toasted.default .action.text-gray-300 {
  @apply text-gray-300 font-bold;
}

.bg-gradient-300 {
  background-color: rgba(181, 187, 202, 0.03);
}

.bg-gradient-200 {
  background-color: rgba(176, 187, 202, 0.08) !important;
}

.wallet-not-connected {
  height: 125px;
}

.wallet-not-connected-market-balances {
  margin-top: -385px;
}

[class*='bg-red-'] .spinner {
  border-top-color: theme('colors.red.300');
}

[class*='bg-primary-'] .spinner {
  border-top-color: theme('colors.primary.300');
}

[class*='bg-aqua-'] .spinner {
  border-top-color: theme('colors.aqua.300');
}

.spinner {
  @apply block mx-auto w-6 h-6 bg-transparent border-4 rounded-full top-0 left-0 border-transparent;
  border-top-color: theme('colors.white');
  animation: spin 0.6s ease-out infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.hover-scale {
  &:hover {
    transform: scale(1.1);
  }
}

.depth-col {
  @apply absolute right-0 top-0 h-full;

  &.longs,
  &.buys {
    background: theme('colors.aqua.500');
    opacity: 0.2;
  }

  &.shorts,
  &.sells {
    background: theme('colors.red.500');
    opacity: 0.2;
  }
}

.size-col {
  @apply absolute right-0 text-xs font-mono top-0 invisible;
  height: 100%;
  width: calc(100%);

  &.up {
    @apply visible;
    fill: theme('colors.aqua.500');
    opacity: 0.35;
    animation: sizeColUp 0.5s ease-in-out;
    color: rgb(255, 255, 255) !important;
  }

  &.down {
    @apply visible;
    fill: theme('colors.red.500');
    opacity: 0.35;
    animation: sizeColDown 0.5s ease-in-out;
    color: rgb(255, 255, 255) !important;
  }
}

@keyframes sizeColUp {
  0% {
    background-color: theme('colors.aqua.500');
  }
  100% {
    background-color: unset;
  }
}

@keyframes sizeColDown {
  0% {
    background-color: theme('colors.red.500');
  }
  100% {
    background-color: unset;
  }
}

nav {
  a.is-active {
    @apply bg-gray-950 font-semibold;
  }
}
