.popper {
  @apply opacity-0;

  display: none !important;

  .arrow {
    position: absolute;
    width: 20px;
    height: 10px;
    background: inherit;
    visibility: hidden;
    top: 0;
    bottom: -10px;


    svg {
      visibility: visible;
      top: -6px;
    }
  }

  &[data-show] {
    @apply opacity-100;

    display: block !important;
  }
}

.orderbook-summary {
  @apply opacity-0;

  &[data-show] {
    @apply opacity-100;
  }
}
