.input {
  @apply border border-transparent bg-gray-900 shadow-sm text-gray-200 rounded w-full h-12 text-sm outline-none appearance-none max-w-full px-4;

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    @apply border-gray-600;
  }

  &::placeholder {
    @apply text-xs opacity-75;
  }

  &[disabled] {
    @apply pointer-events-none cursor-not-allowed bg-gray-700;
  }

  &.textarea {
    @apply h-auto w-full pt-4;
  }

  &-round {
    @apply h-10 rounded-3xl;
  }

  &-small {
    @apply h-8;
  }
}

.input-wrap .addon {
  @apply text-gray-300;
}

.is-valid {
  .input {
    @apply border-primary-500;
  }
}

.is-invalid {
  .input {
    @apply border-red-400;
  }
}

.input-large {
  @apply bg-transparent text-gray-400 rounded-lg px-6 w-full h-20 outline-none appearance-none max-w-full text-3xl border-none font-medium;

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    @apply border-gray-700;
  }

  &::placeholder {
    @apply text-xl opacity-75;
  }

  &[disabled] {
    @apply pointer-events-none cursor-not-allowed bg-gray-700;
  }
}

.leverage-input {
  @apply font-mono ml-2 w-16 py-1 text-sm text-right rounded-lg appearance-none bg-gray-900 text-gray-300;

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.v-select.input-select {
  @apply border border-transparent bg-gray-900 text-gray-200 rounded h-12 px-2 text-sm w-full max-w-full outline-none appearance-none;

  .vs__search {
    @apply text-sm text-gray-400;
  }

  .vs__dropdown-toggle {
    width: 100%;
    height: 100%;
    border: none !important;
  }

  .vs__dropdown-menu {
    @apply border-primary-500 bg-gray-800 text-gray-400 px-2;

    margin-top: 2px;
    left: -1px;
    width: calc(100% + 2px);
  }

  .vs__selected {
    @apply h-12 p-0 m-0 pl-2 border-none text-gray-200 break-all;
  }

  .vs__dropdown-option {
    @apply text-gray-200 font-semibold text-sm rounded py-3 px-2;
  }

  .vs__actions {
    @apply cursor-pointer;
  }

  .vs__actions svg {
    @apply text-gray-200;
  }

  .vs__actions svg path {
    @apply fill-current;
  }

  .vs__dropdown-option--highlight {
    @apply bg-primary-500 text-gray-800;
  }

  .input {
    @apply text-current shadow-none;
  }

  &:focus {
    @apply border-gray-700;
  }

  &[disabled] {
    @apply bg-gray-700;
  }

  input::placeholder {
    @apply text-xs opacity-75;
  }
}

.v-select.input-select.vs--open {
  @apply border border-primary-500 bg-gray-800 text-gray-400;

  .input {
    @apply shadow-none text-gray-200;
  }

  .vs__selected {
    @apply opacity-100 text-gray-200;
  }
}
