// firefox input hide up and down arrows
input[type='number'] {
  -moz-appearance: textfield;
}

.input-wrapper {
  @apply shadow-sm bg-gray-900 rounded;
}

.input {
  @apply border border-transparent bg-gray-900 shadow-sm text-gray-200 rounded w-full h-12 text-sm outline-none appearance-none max-w-full px-4;

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::placeholder {
    @apply opacity-75;
  }

  &[disabled] {
    @apply pointer-events-none cursor-not-allowed bg-gray-700;
  }

  &.textarea {
    @apply h-auto w-full pt-4;
  }

  &-round {
    @apply h-10 rounded-3xl;
  }

  &-small {
    @apply h-8;
  }
}

.input-wrap .addon {
  @apply text-gray-300;
}

.input-light {
  .input {
    @apply bg-gray-800;
  }

  .addon {
    @apply text-gray-500;
  }
}

.input-lg {
  @apply text-xl h-14;
}

.input-large {
  @apply bg-transparent text-gray-400 rounded-lg px-6 pr-2 w-full h-20 outline-none appearance-none max-w-full text-3xl border-none font-medium;
}

.input-xl {
  @apply bg-transparent text-gray-400 rounded-lg px-6 w-full h-20 outline-none appearance-none max-w-full text-3xl border-none font-medium;
}

.input-lg,
.input-xl {
  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    @apply border-gray-700;
  }

  &[disabled] {
    @apply pointer-events-none cursor-not-allowed bg-gray-700;
  }
}

.is-valid {
  .input {
    @apply border-primary-500;
  }
}

.is-invalid {
  .input {
    @apply border-red-400;
  }
}

.no-shadow {
  .input {
    @apply border-transparent shadow-none;
  }
}

.input-bg-transparent {
  background-color: transparent !important;
}

.leverage-input {
  @apply font-mono ml-2 w-16 py-1 text-sm text-right rounded-lg appearance-none bg-gray-900 text-gray-300;

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.v-select.input-select {
  @apply border border-transparent bg-gray-900 text-gray-200 rounded h-12 px-2 text-sm w-full max-w-full outline-none appearance-none;

  .vs__search {
    @apply text-sm text-gray-400;
  }

  .vs__dropdown-toggle {
    width: 100%;
    height: 100%;
    border: none !important;
  }

  .vs__dropdown-menu {
    @apply border border-primary-600 border-solid rounded-lg mt-2 bg-gray-900 p-4;

    margin-top: 8px;
    left: -1px;
    width: calc(100% + 2px);
  }

  .vs__selected {
    @apply h-12 p-0 m-0 pl-2 border-none text-gray-200 break-all;
  }

  .vs__dropdown-option {
    @apply text-gray-200 font-semibold text-sm rounded py-3 px-2;
  }

  .vs__actions {
    @apply cursor-pointer;
  }

  .vs__actions svg {
    @apply text-gray-200;
  }

  .vs__actions svg path {
    @apply fill-current;
  }

  .vs__dropdown-option--highlight {
    @apply bg-primary-500 text-gray-800;
  }

  .input {
    @apply text-current shadow-none;
  }

  &:focus {
    @apply border-gray-700;
  }

  &[disabled] {
    @apply bg-gray-700;
  }
}

.v-select.input-error {
  @apply border-red-500;
}

.v-select.input-select.vs--open {
  @apply border border-primary-500 bg-gray-800 text-gray-400;

  .input {
    @apply shadow-none text-gray-200;
  }

  .vs__selected {
    @apply opacity-100 text-gray-200;
  }
}

.input-select.input-token.input-select .vs__selected {
  @apply w-full h-20 relative border-none p-0 m-0 z-900;
}

.v-select.input-token.input-select {
  @apply rounded-lg h-20 shadow-none p-0;

  .input-lg {
    @apply bg-transparent;

    max-width: 80%;
  }

  .input {
    @apply shadow-none text-gray-100;
  }

  .is-valid,
  .is-invalid {
    input {
      @apply border-none;
    }
  }

  .vs__selected {
    @apply opacity-100 text-gray-100;
  }

  .vs__dropdown-toggle {
    @apply border-none p-0;
  }

  .vs__actions {
    @apply pt-0 pr-5;
  }

  .vs__selected-options {
    @apply p-0;
  }

  .vs__selected .input {
    @apply pr-0;

    &:focus {
      @apply border-none;
    }
  }

  &.vs--disabled {
    .vs__dropdown-toggle,
    .vs__search,
    .vs__open-indicator {
      @apply bg-transparent;
    }

    .vs__open-indicator {
      @apply hidden;
    }

    .vs__selected,
    .vs__search {
      @apply cursor-default;
    }
  }
}

.v-select.input-token.input-error {
  .input {
    @apply text-red-400;
  }
}

/* stylelint-disable */
.input-bridge-selector.vs--single.input-select.v-select {
  @apply rounded-lg bg-gray-900 pl-0 h-16 py-2;

  .selected-icon {
    @apply w-10 h-10;
  }

  .vs__dropdown-menu {
    @apply z-1110 rounded-lg p-0 max-h-[286px];

    &::-webkit-scrollbar {
      display: initial !important;
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background: theme('colors.transparent');
    }

    &::-webkit-scrollbar-thumb {
      @apply border border-gray-200 rounded-none bg-gray-200;
    }
  }

  .vs__dropdown-option {
    @apply rounded-none px-4;

    p {
      @apply font-thin;
    }

    &.vs__dropdown-option--highlight {
      @apply bg-gray-800 text-gray-200;
    }
  }

  .vs__selected-options {
    @apply px-0;

    .vs__selected {
      @apply text-gray-200;
    }
  }

  &.vs--open {
    @apply border-b-0 rounded-b-none bg-gray-1000;

    .vs__dropdown-menu {
      @apply -mt-1 bg-gray-1000 rounded-t-none;
    }

    .vs__actions {
      svg {
        @apply text-primary-500;
      }
    }
  }

  &.vs--disabled {
    .vs__dropdown-toggle,
    .vs__search {
      @apply bg-transparent cursor-default;
    }

    .vs__actions {
      @apply hidden cursor-default;
    }

    .vs__selected {
      @apply cursor-default;
    }
  }
}

.input-token {
  .vs__actions {
    padding: 0 !important;
  }
}

.input-convert,
.token-selector__token-only {
  .input-token {
    @apply bg-gray-900;

    .vs__selected-options > input {
      @apply pointer-events-none;
    }

    &.open {
      .vs__selected-options > input {
        @apply pointer-events-auto;
      }
    }

    .vs__dropdown-option {
      @apply p-2;
    }
  }
}

.input-convert {
  .vs__dropdown-menu {
    @apply z-1110;
  }

  .input-token {
    .input-max-button {
      @apply bg-primary-600 px-1 py-0 h-[20px] flex items-center justify-center font-bold text-white mr-0;
    }
  }
}
.token-selector__token-only {
  .v-select.input-token.input-select {
    @apply rounded-full h-[40px];

    .vs__selected {
      @apply h-[40px];
    }

    .vs__search {
      @apply h-[40px] pl-6 pr-4 py-3 uppercase m-0 text-xs placeholder-gray-500;
    }

    .vs__dropdown-menu {
      @apply p-2;
    }

    .vs__selected-text-content {
      @apply text-sm;
    }

    .vs__selected-icon {
      @apply w-4 h-4;
    }
  }
}

.v-select.input-select.vs--open {
  @apply bg-gray-900;
}

/* stylelint-enable */
