.input {
  @apply border border-transparent bg-gray-900 shadow-sm text-gray-200 rounded w-full h-12 text-sm outline-none appearance-none max-w-full px-4;

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    @apply border-gray-600;
  }

  &::placeholder {
    @apply text-xs opacity-75;
  }

  &[disabled] {
    @apply pointer-events-none cursor-not-allowed bg-gray-700;
  }

  &.textarea {
    @apply h-auto w-full pt-4;
  }

  &-round {
    @apply h-10 rounded-3xl;
  }
}

.input-wrap .addon {
  @apply text-gray-300;
}

.is-valid {
  .input {
    @apply border-primary-500;
  }
}

.is-invalid {
  .input {
    @apply border-red-400;
  }
}

.input-large {
  @apply bg-transparent text-gray-400 rounded-lg px-6 w-full h-20 outline-none appearance-none max-w-full text-3xl border-none font-medium;

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    @apply border-gray-700;
  }

  &::placeholder {
    @apply text-xl opacity-75;
  }

  &[disabled] {
    @apply pointer-events-none cursor-not-allowed bg-gray-700;
  }
}

.leverage-input {
  @apply font-mono ml-2 w-14 py-1 text-sm text-right rounded-lg appearance-none bg-dark-800 text-gray-300 shadow;

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}
