.list-footer {
  li {
    a,
    span {
      @apply block;
    }

    a {
      &:hover {
        @apply text-white;
      }
    }

    div {
      a {
        svg {
          display: block;
          vertical-align: middle;
        }
      }
    }
  }
}

.list-order-book {
  @apply overflow-y-auto;

  li {
    &:nth-child(odd) {
      background-color: theme('colors.dark.hover300');
    }

    &:hover {
      background-color: theme('colors.dark.hover200') !important;
    }
  }
}

.list-trades {
  @apply overflow-y-auto;

  li {
    &:nth-child(odd) {
      background-color: theme('colors.dark.hover300');
    }

    &:hover {
      background-color: theme('colors.dark.hover200') !important;
    }
  }
}

.list-enter-active,
.list-leave-active,
.list-move {
  transition: 100ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: absolute;
}

.list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}
