:root {
  --header-height: 56px;
  --footer-height: 697px;
}


@media (min-width: 480px) {
  :root {
    --footer-height: 565px;
  }
}

@media (min-width: 640px) {
  :root {
    --footer-height: 445px;
  }
}

@media (min-width: 1024px) {
  :root {
    --footer-height: 377px;
  }
}

html {
  @apply bg-gray-1000;
}

body {
  @apply font-sans text-base leading-normal text-gray-100 antialiased bg-gray-1000;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;

  .vue-grid-item.vue-grid-placeholder {
    @apply rounded bg-primary-500;
    opacity: 0.35;
  }

  .vue-grid-item {
    touch-action: none;
  }
}

.min-h-screen-excluding-header {
  min-height: calc(100vh - var(--header-height));
}

.min-h-screen-excluding-header-and-footer {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.h-full-grow {
  @apply flex flex-col flex-grow h-full;
}
