/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.gray.700') theme('colors.gray.800');
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: theme('colors.gray.900');
}

*::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.700');
  border-radius: 20px;
  border: 2px solid theme('colors.gray.900');
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}
