name: Helix Devnet Deployments

on:
  push:
    branches:
      - dev

jobs:
  devnet:
    if: false
    name: 'Deploy to devnet'
    runs-on: ubuntu-latest
    env:
      SSH_USER: ${{ secrets.DEVNET_SSH_USER }}
      SSH_KEY: ${{ secrets.DEVNET_SSH_KEY }}
      SSH_HOST: ${{ secrets.DEVNET_SSH_HOST }}
      SOURCE_DIR: ${{ secrets.DEVNET_SOURCE_PATH}}
      GIT_BRANCH: ${{secrets.DEVNET_GIT_BRANCH}}

      ## Github Actions
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true

      ## Flags
      VITE_MAINTENANCE_ENABLED: false
      VITE_GEO_IP_RESTRICTIONS_ENABLED: false

      ## Endpoints
      VITE_INDEXER_API_ENDPOINT: ''
      VITE_CHRONOS_API_ENDPOINT: ''
      VITE_EXPLORER_API_ENDPOINT: ''
      VITE_SENTRY_GRPC_ENDPOINT: ''
      VITE_SENTRY_REST_ENDPOINT: ''

      ## Secret
      VITE_ALCHEMY_GOERLI_KEY: ${{ secrets.VITE_ALCHEMY_GOERLI_KEY }}
      VITE_AMPLITUDE_KEY: ${{secrets.VITE_DEVNET_AMPLITUDE_KEY}}
      VITE_COINGECKO_API_KEY: ${{ secrets.VITE_COINGECKO_API_KEY }}
      VITE_FEE_RECIPIENT: ${{ secrets.VITE_FEE_RECIPIENT }}
      VITE_GOOGLE_ANALYTICS_KEY: ${{ secrets.VITE_DEVNET_GOOGLE_ANALYTICS_KEY }}
      VITE_HOTJAR_KEY: ${{ secrets.VITE_HOTJAR_KEY }}
      VITE_NEWSLETTER_API: ${{ secrets.VITE_NEWSLETTER_API }}
      VITE_NINJA_PASS_ENDPOINT: ${{ secrets.VITE_NINJA_PASS_ENDPOINT }}

      NODE_OPTIONS: '--max_old_space_size=15360'
    steps:
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/devnet.key
          chmod 600 ~/.ssh/devnet.key
          cat >>~/.ssh/config <<END
          Host devnet
            HostName $SSH_HOST
            User $SSH_USER
            IdentityFile ~/.ssh/devnet.key
            StrictHostKeyChecking no
            SendEnv $SOURCE_DIR
          END

      - name: Check out the source
        run: ssh devnet 'cd "'$SOURCE_DIR'" && git fetch && git reset --hard "'$GIT_BRANCH'" && git pull'

      - name: Install Dependencies
        run: ssh devnet 'source $HOME/.nvm/nvm.sh && cd "'$SOURCE_DIR'" && yarn install --force --ignore-engines'

      - name: Remove prev build
        run: ssh devnet 'cd "'$SOURCE_DIR'" && yarn clean-up'

      - name: Generating the static pages
        run: ssh devnet 'source $HOME/.nvm/nvm.sh && cd "'$SOURCE_DIR'" && yarn generateNoSourceMap'
